In [1]:
import os
import glob
import pandas as pd
import numpy as np
import json
import csv

#### Read all the file names

In [7]:
filepath = '/Users/adityagupta/Documents/04 Projects/01 GRIDS - Gender Inclusion/01 Data/01 American Physical Society/aps-dataset-metadata-2018/'
files = glob.glob(os.path.join(filepath, '*/*/*.json'))

In [14]:
len(files)

636294

#### Read data from the files

In [15]:
for idx, file in enumerate(files):
    with open(file) as train_file:
        
        # load the json file
        data = json.load(train_file)
        
        # common values to all subsequent rows
        paper_id = data['id']
        date = data['date']
        
        # if the data has authors data only then required
        if 'authors' in data:
            
            # make new row for each author of that paper
            for val in data['authors']:
                
                name = val['name'] if 'name' in val else np.nan
                fname = val['firstname'] if 'firstname' in val else np.nan
                lname = val['surname'] if 'surname' in val else np.nan
                
                # if each author has affili then make new row with the affil
                if 'affiliationIds'in val:
                    for aff in val['affiliationIds']:

                        with open('05 Data Dumps/authors_write_each_line_v9.csv', mode='a') as data_writer_file:
                            data_writer = csv.writer(data_writer_file)
                            data_writer.writerow([paper_id, date, name, fname, lname, aff])
                else:
                    with open('05 Data Dumps/authors_write_each_line_v9.csv', mode='a') as data_writer_file:
                            data_writer = csv.writer(data_writer_file)
                            data_writer.writerow([paper_id, date, name, fname, lname, []])

#### Read the final data ouput

In [35]:
col=["paper_id", "date", "name",'fname', 'lanme', "affiliationIds"]
df = pd.read_csv('05 Data Dumps/authors_write_each_line_v9.csv', names=col)

In [36]:
df

,paper_id,date,name,fname,lanme,affiliationIds
0,10.1103/PhysRevApplied.9.039901,2018-03-06,Tomoyuki Sasaki,Tomoyuki,Sasaki,[]
1,10.1103/PhysRevApplied.9.039901,2018-03-06,Yuichiro Ando,Yuichiro,Ando,[]
2,10.1103/PhysRevApplied.9.039901,2018-03-06,Makoto Kameno,Makoto,Kameno,[]
3,10.1103/PhysRevApplied.9.039901,2018-03-06,Takayuki Tahara,Takayuki,Tahara,[]
4,10.1103/PhysRevApplied.9.039901,2018-03-06,Hayato Koike,Hayato,Koike,[]
...,...,...,...,...,...,...
2503838,10.1103/PhysRevSTAB.14.014001,2011-01-21,Mikhail Zobov,Mikhail,Zobov,a2
2503839,10.1103/PhysRevSTAB.14.090401,2011-09-15,A. Lorusso,A.,Lorusso,a1
2503840,10.1103/PhysRevSTAB.14.090401,2011-09-15,F. Gontad,F.,Gontad,a1
2503841,10.1103/PhysRevSTAB.14.090401,2011-09-15,A. Perrone,A.,Perrone,a1
2503842,10.1103/PhysRevSTAB.14.090401,2011-09-15,N. Stankova,N.,Stankova,a2

##### QC

In [20]:
# chk = len(set(df.paper_id))
# chk

626327

In [21]:
# filepath2 = '/Users/adityagupta/Documents/04 Projects/01 GRIDS - Gender Inclusion/01 Data/01 American Physical Society/aps-dataset-metadata-2018/PRAPPLIED/9/'
# files2 = glob.glob(os.path.join(filepath2, '*.json'))

In [24]:
# df_full = pd.DataFrame()

In [33]:
# for idx, file in enumerate(files2):
#     with open(file) as train_file2:

#         df = pd.read_json(file, lines=True)
#         df_full = df_full.append(df, sort=False, ignore_index=True)

# df_full

##### -- Verified